.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid white;
}

.image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 6px grey, 0 0 8px grey,
    0 0 10px grey;
  border: 2px solid black;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  font-size: 1.2rem;
  display: inline-block;
}

.name:hover {
  transform: scale(1.1);
  text-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 6px grey, 0 0 8px grey,
    0 0 10px grey;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  display: inline-block;
}

.description:hover {
  transform: scale(1.1);
  text-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 6px grey, 0 0 8px grey,
    0 0 10px grey;
}

@media screen and (max-width: 1350px) {
  .name {
    font-size: 1em;
  }

  .description {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 0.8em;
  }

  .description {
    font-size: 0.6em;
  }
}
