.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.heading_wrap {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.heading:hover {
  transform: scale(1.1);
  text-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 6px grey, 0 0 8px grey,
    0 0 10px grey;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}

.main_section_wrap {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Coach_wrap {
  height: 45%;
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading_link {
  text-decoration: none;
}

@media screen and (max-width: 1250px) {
  .Coach_wrap {
    height: 50%;
    width: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .Coach_wrap {
    height: 40%;
    width: 30%;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .Coach_wrap {
    height: 35%;
    width: 30%;
  }

  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .Coach_wrap {
    height: 30%;
    width: 34%;
  }

  .heading_wrap {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .Coach_wrap {
    height: 30%;
    width: 34%;
  }

  .heading_wrap {
    width: 80%;
  }

  .heading {
    font-size: 1.5rem;
  }
}
